babel
colorama
jinja2
markdown
material
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-enumerate-headings-plugin
mkdocs-exclude
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-github-admonitions-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-literate-nav
mkdocs-material-extensions
mkdocs-material[imaging]
mkdocs-material[recommended]
mkdocs-minify-plugin
mkdocs-monorepo-plugin
mkdocs-pdf-export-plugin
mkdocs-same-dir
mkdocs-section-index
mkdocstrings[crystal,python]
mkdocs-with-pdf
paginate
pygments
pymdown-extensions
regex
requests
